body {
  font-family: sans-serif;
  padding: 20px;
}

.items {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px;
  cursor: grab;
  border: 2px solid #ccc;
  user-select: none;
  scroll-behavior: smooth;
  width: 90%;
  margin: auto;
  height: 150px;
}

.card {
  min-width: 200px;
  height: 100px;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  flex-shrink: 0;
}
